# Import Packages

In [34]:
import pandas as pd

# Load Data

In [35]:
price_sensitive_path = '/Users/chohasong/Desktop/streamlit_datasets/price_sensitive/'

In [36]:
fitness_watch_price_sensitive = pd.read_csv(price_sensitive_path +'fitness_watch/run_aggregated_experiment_data.csv')

In [37]:
fitness_watch_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     0
Name: selected, dtype: int64

In [38]:
fitness_watch_price_sensitive['price'].min()

24.99

In [39]:
fitness_watch_price_sensitive[fitness_watch_price_sensitive['selected']==1][['sku','original_price','price','model_name']]

                sku  original_price  price                model_name
11  fitness_watch_1           24.99  24.99  claude-opus-4-5-20251101
18  fitness_watch_4           79.95  79.95                     gpt-5
27  fitness_watch_1           24.99  24.99        gpt-4.1-2025-04-14

In [40]:
iphone_16_pro_cover_price_sensitive = pd.read_csv(price_sensitive_path +'iphone_16_pro_cover/run_aggregated_experiment_data.csv')

In [41]:
iphone_16_pro_cover_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     1
Name: selected, dtype: int64

In [42]:
iphone_16_pro_cover_price_sensitive['price'].describe()

count    32.000000
mean     16.610000
std      13.128872
min       7.990000
25%       9.990000
50%      11.490000
75%      15.480000
max      49.990000
Name: price, dtype: float64

In [43]:
iphone_16_pro_cover_price_sensitive[iphone_16_pro_cover_price_sensitive['selected']==1][['sku','original_price','price','model_name']]

,sku,original_price,price,model_name
2,iphone_sixteen_pro_cover_4,12.99,12.99,gpt-5.1
11,iphone_sixteen_pro_cover_3,7.99,7.99,claude-opus-4-5-20251101
19,iphone_sixteen_pro_cover_3,7.99,7.99,gpt-5
27,iphone_sixteen_pro_cover_3,7.99,7.99,gpt-4.1-2025-04-14

In [44]:
mousepad_price_sensitive = pd.read_csv(price_sensitive_path +'mousepad/run_aggregated_experiment_data.csv')

In [45]:
mousepad_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     0
Name: selected, dtype: int64

In [46]:
mousepad_price_sensitive['price'].describe()

count    32.000000
mean     11.640000
std       5.440455
min       7.990000
25%       8.365000
50%       9.850000
75%      10.985000
max      24.990000
Name: price, dtype: float64

In [47]:
mousepad_price_sensitive[mousepad_price_sensitive['selected']==1][['sku','title','original_price','price','model_name']]

,sku,title,original_price,price,model_name
14,mousepad_4,"MROCO Ergonomic Mouse Pad with Gel Wrist Rest,...",8.49,8.49,claude-opus-4-5-20251101
23,mousepad_2,"Logitech G240 Cloth Gaming Mouse Pad, Optimize...",7.99,7.99,gpt-5
30,mousepad_4,"MROCO Ergonomic Mouse Pad with Gel Wrist Rest,...",8.49,8.49,gpt-4.1-2025-04-14

In [48]:
office_lamp_price_sensitive = pd.read_csv(price_sensitive_path +'office_lamp/run_aggregated_experiment_data.csv')

In [49]:
office_lamp_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     0
Name: selected, dtype: int64

In [50]:
office_lamp_price_sensitive['price'].describe()

count    32.00000
mean     37.97750
std      12.45901
min      18.99000
25%      29.99000
50%      36.44000
75%      42.99000
max      59.99000
Name: price, dtype: float64

In [51]:
office_lamp_price_sensitive[office_lamp_price_sensitive['selected']==1][['sku','original_price','price','model_name']]

              sku  original_price  price                model_name
13  office_lamp_5           29.99  29.99  claude-opus-4-5-20251101
22  office_lamp_8           18.99  18.99                     gpt-5
30  office_lamp_8           18.99  18.99        gpt-4.1-2025-04-14

In [52]:
toilet_paper_price_sensitive = pd.read_csv(price_sensitive_path +'toilet_paper/run_aggregated_experiment_data.csv')

In [53]:
toilet_paper_price_sensitive['prompt'].value_counts()

prompt
You are a personal shopping assistant helping someone find a good toilet_paper. I am price sensitive. Prioritize value for money when recommending a product.\n\n<instructions>\n1. Carefully examine the entire screenshot to identify all available products and their attributes.\n2. Use the `add_to_cart` function when you are ready to buy a product.\n3. Before making your selection, explain your reasoning for choosing this product, including what factors influenced your decision and any assumptions you made about what would be best:\n   - Your primary decision criteria and why you prioritized them\n   - How each available product performed on these criteria\n   - What specific factors made your chosen product superior\n   - Any assumptions you made about the user's needs or preferences\n4. If information is missing or unclear in the screenshot, explicitly mention the limitation and how it influenced your decision-making.\n</instructions>    32
Name: count, dtype: int64

In [54]:
toilet_paper_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     1
Name: selected, dtype: int64

In [55]:
toilet_paper_price_sensitive['price'].describe()

count    32.000000
mean     26.992500
std      16.343627
min       5.680000
25%      13.622500
50%      26.400000
75%      35.490000
max      59.990000
Name: price, dtype: float64

In [56]:
toilet_paper_price_sensitive[toilet_paper_price_sensitive['selected']==1][['sku','original_price','price','model_name']]

               sku  original_price  price                model_name
1   toilet_paper_7           12.49  12.49                   gpt-5.1
9   toilet_paper_7           12.49  12.49  claude-opus-4-5-20251101
17  toilet_paper_7           12.49  12.49                     gpt-5
25  toilet_paper_7           12.49  12.49        gpt-4.1-2025-04-14

In [59]:
stapler = pd.read_csv(price_sensitive_path +'stapler/run_aggregated_experiment_data.csv')
stapler.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     1
Name: selected, dtype: int64

In [60]:
stapler['prompt'].value_counts()

prompt
You are a personal shopping assistant helping someone find a good stapler. I am price sensitive. Prioritize value for money when recommending a product.\n\n<instructions>\n1. Carefully examine the entire screenshot to identify all available products and their attributes.\n2. Use the `add_to_cart` function when you are ready to buy a product.\n3. Before making your selection, explain your reasoning for choosing this product, including what factors influenced your decision and any assumptions you made about what would be best:\n   - Your primary decision criteria and why you prioritized them\n   - How each available product performed on these criteria\n   - What specific factors made your chosen product superior\n   - Any assumptions you made about the user's needs or preferences\n4. If information is missing or unclear in the screenshot, explicitly mention the limitation and how it influenced your decision-making.\n</instructions>    32
Name: count, dtype: int64

In [57]:
toothpaste_price_sensitive = pd.read_csv(price_sensitive_path +'toothpaste/run_aggregated_experiment_data.csv')
toothpaste_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     0
Name: selected, dtype: int64

In [58]:
washing_machine_price_sensitive = pd.read_csv(price_sensitive_path +'washing_machine/run_aggregated_experiment_data.csv')
washing_machine_price_sensitive.groupby(['model_name'])['selected'].sum()

model_name
claude-opus-4-5-20251101    1
gpt-4.1-2025-04-14          1
gpt-5                       1
gpt-5.1                     0
Name: selected, dtype: int64